Source: qttelegram
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends: 
 debhelper (>= 8.0.0),
 g++ (>= 4:4.7),
 gcc (>= 4:4.7),
 qtbase5-dev (>= 5.2.0),
 libqt5sql5-sqlite (>= 5.2.0),
 libqt5multimediaquick-p5 (>= 5.2.0),
 libqt5multimedia5-plugins (>= 5.2.0),
 libqt5multimedia5 (>= 5.2.0),
 qtchooser,
 qt5-qmake,
 qt5-default,
 libqt5qml5 (>= 5.2.0),
 libqt5qml-graphicaleffects (>= 5.2.0) | qml-module-qtgraphicaleffects,
 qtdeclarative5-controls-plugin (>= 5.2.0) | qml-module-qtquick-controls,
 qtdeclarative5-dev (>= 5.2.0),
 libqt5quick5 (>= 5.2.0),
 qtmultimedia5-dev (>= 5.2.0),
 libqt5webkit5-dev (>= 5.1.0),
 libssl-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/Aseman-Land/libqtelegram-aseman-edition
Vcs-Browser: https://github.com/Aseman-Land/libqtelegram-aseman-edition

Package: libqt5telegram
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 

Package: libqt5telegram-dev
Section: libdevel
Architecture: any
Depends: libqt5telegram (= ${binary:Version})
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 

Package: qml-module-telegramqml
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Telegram protocol access library for QML.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 

Package: qt5telegram
Section: libs
Architecture: any
Depends: libqt5telegram (= ${binary:Version}),
 qml-module-telegramqml
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 

Package: qt5telegram-dev
Section: libdevel
Architecture: any
Depends: libqt5telegram-dev (= ${binary:Version})
Description: Forked libqtelegram. Telegram protocol access library.
 This is a Qt asynchronous library to be used as Telegram client. 
 Using signal-slot mechanism to communicate to telegram servers, 
 exposes an easy to use API for applications to interact to. 
